@using testing.ViewModels
@model List<GioHang>
@{
    /**/

    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--cart -->
    <div class="shopping-cart">
        <div class="px-4 px-lg-0">

            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                            <!-- Shopping cart table -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0">
                                                <div class="p-2 px-3 text-uppercase">Món</div>
                                            </th>
                                            <th scope="col" class="border-0">
                                                <div class="py-2 text-uppercase">Đơn Giá</div>
                                            </th>
                                            <th scope="col" class="border-0 ">
                                                <div class="py-2 text-uppercase">Số Lượng</div>
                                            </th>
                                            <th class="border-0 " scope="col">
                                                <div class="py-2 text-uppercase">Tổng giá món</div>
                                            </th>                                         
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {                                                                                       
                                        <tr>
                                            <th scope="row">
                                                <div class="p-1">
                                                    @*@Html.DisplayFor(mode => item.FoodID)*@
                                                    @Html.HiddenFor(model => item.FoodID)
                                                    <img src="~/images/@item.Fimage" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">

                                                        <h6 class="mb-0">
                                                            <a href="@Url.Action("Details","FoodHome",new { id = item.FoodID })" class="text-dark d-inline-block"><b>@item.FName</b></a>
                                                        </h6>
                                                        <span class="text-muted font-weight-normal font-italic">
                                                        </span>
                                                    </div>
                                                </div>
                                            </th>
                                            @using (Html.BeginForm("UpdateCart", "Cart", new { @idFood = item.FoodID }))
                                            {
                                                @*Giá món*@
                                                <td class="align-middle"><strong>@string.Format("{0:0,0}", item.FPrice) VNĐ</strong></td>

                                                @*Số lượng*@
                                                <td class="align-middle">
                                                    <input type="number" name="qty" id="qty" value="@item.DAmount" min="1" max="100">
                                                </td>
                                                @*// Tổng giá tiền*@
                                                <td class="align-middle"><strong>@string.Format("{0:0,0}", item.DAmount * item.FPrice) VNĐ</strong></td>
                                                
                                                <td class="align-middle">
                                                    <input type="submit" value="Cập nhập" class="btn btn-danger" />
                                                </td>
                                                <td class="align-middle">                                               
                                                    @Html.ActionLink("Xóa", "DeleteCart", new { @idFood = item.FoodID })                                          
                                                </td>
                                            }
                                        </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>
                            <!-- End -->
                        </div>
                    </div>

                    <div class="row py-5 p-4 bg-white rounded shadow-sm">
                        <div class="col-lg-6">
                            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Voucher</div>
                            <div class="p-4">
                                <div class="input-group mb-4 border rounded-pill p-2">
                                    <input type="text" placeholder="Nhập Voucher" aria-describedby="button-addon3" class="form-control border-0">
                                    <div class="input-group-append border-0">
                                        <button id="button-addon3" type="button" class="btn btn-danger px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Sử dụng</button>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-6">
                            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Thành tiền</div>
                            <div class="p-4">
                                <ul class="list-unstyled mb-4">
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tổng tiền hàng</strong><strong>@string.Format("{0:0,0}", ViewBag.TotalPrice) VNĐ</strong></li>


                                    <li class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Tổng thanh toán ( bao gồm VAT)</strong>
                                        <h5 class="font-weight-bold">@string.Format("{0:0,0}", ViewBag.TotalPrice) VNĐ</h5>
                                    </li>
                                </ul><a href="@Url.Action("MuaHang","Cart")" class="btn btn-danger rounded-pill py-2 btn-block">Đặt món</a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
<!--end cart-->
