@model testing.Models.Food
@{
    ViewBag.Title = "Chi tiết món";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}




@Html.Partial("_PartialSlideAD")
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">@Html.ActionLink("Trang chủ", "Index", "FoodHome")</li>
                    <li class="breadcrumb-item">Chi tiết món</li>
                    @*<li class="breadcrumb-item " aria-current="#">Sub-category</li>*@
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-3">

            @Html.Action("CategoriesFood", "FoodHome")


            @Html.Action("NewestFood", "FoodHome")

        </div>
        <!--Detail -->
        <div class="col-sm-9">
            <div class="container">
                <div class="card">
                    <div class="row">

                        <aside class="col-sm-5 border-right">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">
                                    <img src="~/images/@Model.Fimage">
                                </div> <!-- slider-product.// -->
                            </article> <!-- gallery-wrap .end// -->
                        </aside>

                        <aside class="col-sm-7">
                            <article class="card-body p-5">
                                <h3 class="title mb-3">@Model.FName</h3>

                                <p class="price-detail-wrap">
                                    <span class="price h3 text-warning">
                                        <span class="num"><b>@string.Format("{0:0,0}", Model.FPrice)</b></span> <span class="currency">VNĐ</span>
                                    </span>
                                </p> <!-- price-detail-wrap .// -->
                                <dl class="item-property">
                                    <dt>Chi tiết món</dt>
                                    <dd>
                                        <p>
                                            @Model.FDescribe

                                        </p>
                                    </dd>
                                </dl>

                                @*<hr>
                                    <div class="row">
                                        <div class="col-sm-5">

                                            <dl class="param param-inline">
                                                <dt>Số lượng: </dt>
                                                <dd>
                                                    <select class="form-control form-control-sm" style="width:70px;">
                                                        <option> 1 </option>
                                                        <option> 2 </option>
                                                        <option> 3 </option>
                                                        <option> 4 </option>
                                                        <option> 5 </option>
                                                    </select>
                                                </dd>
                                            </dl>  <!-- item-property .// -->

                                        </div> <!-- col.// -->

                                    </div> <!-- row.// -->*@
                                <hr>

                                <a href="@Url.Action("MuaHang","Cart")" class="btn btn-lg btn-warning text-uppercase" style="font-weight:bold">Mua ngay</a>
                                <a href="@Url.Action("addCart","Cart",new {@IdFood=Model.FoodID,@strURL=Request.Url.ToString() })" class="btn btn-lg  btn-outline-danger text-uppercase"> <i class="fas fa-shopping-cart"></i>Thêm vào giỏ </a>

                            </article> <!-- card-body.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card.// -->
            </div>
        </div>
        <!--Detail-->
    </div>
</div>


