@model IEnumerable<testing.Models.Bill>

@{
    ViewBag.Title = "Lịch sử đơn hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">@Html.ActionLink("Trang chủ", "Index", "FoodHome")</li>
                    <li class="breadcrumb-item">Lịch sử đơn hàng</li>

                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-3">
            @Html.Partial("_PartialProfile", "Customer")
        </div>

        <div class="table-responsive col-md-9 table-hover">
            <h5>Lịch sử đơn hàng</h5>

            <hr />
            <table class="table table-bordered">
                <thead class="bg-danger">
                    <tr style="color:white">
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Mã đơn hàng
                        </th>
                        <th>
                            Tổng cộng
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @string.Format("{0:dd-MM-yyyy}", item.BDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillID)
                        </td>
                        <td>
                            @string.Format("{0:0,0}", item.BTotal) VNĐ
                        </td>
                        <td>
                            @Html.ActionLink("Xem chi tiết", "DetailHistory", new { id = item.BillID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


