@model testing.ViewModels.DangKy

@{
    /**/

    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Html.ActionLink("Trang chủ", "Index", "FoodHome")</li>
                <li class="breadcrumb-item">Đăng ký</li>
            </ol>
        </nav>
    </div>
</div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Action("CategoriesFood", "FoodHome")
                @Html.Action("NewestFood", "FoodHome")
            </div>

            <div class="col-md-9">

                <div class="row">

                    @*<div style="border:1px solid #ccc">*@
                        <div class="container">
                            <h4 style="text-align:center"><b>Đăng ký</b></h4>
                            <hr>

                            <div class="form-group">
                                <label for="hoten" class="col-md-2 control-label"><b>Họ và tên</b></label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Fullname, "", new { @class = "form-control", @placeholder = "Họ và tên" })
                                    @Html.ValidationMessageFor(x => x.Fullname, "", new { @class = "badge badge-danger" })
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="username" class="col-md-3 control-label"><b>Tên đăng nhập</b></label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "Tên đăng nhập", @maxlength = "50" })
                                    @if (ViewBag.error != null)
                                    {
                                        <p> <span class="badge badge-danger">@ViewBag.error</span></p>

                                    }
                                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "badge badge-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="col-md-3 control-label"><b>Địa chỉ</b></label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Address, "", new { @class = "form-control", @placeholder = "Địa chỉ", @maxlength = "100" })
                                    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "badge badge-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-md-3 control-label"><b>Điện thoại</b></label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Phone, "", new { @class = "form-control", @placeholder = "Điện thoại", @maxlength = "11" })
                                    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "badge badge-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label"><b>Email</b></label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Gmail, "", new { @class = "form-control", @placeholder = "Email", @maxlength = "100" })
                                    @Html.ValidationMessageFor(x => x.Gmail, "", new { @class = "badge badge-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="psw" class="col-md-3 control-label"><b>Mật khẩu</b></label>
                                <div class="col-md-12">
                                    @*@Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @placeholder = "Password", @type = "password" })*@
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @maxlength = "30" })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "badge badge-danger" })
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="psw-repeat" class="col-md-3 control-label"><b>Nhập lại mật khẩu</b></label>
                                <div class="col-md-12">
                                    @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu", @maxlength = "30" })
                                    @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "badge badge-danger" })
                                </div>
                            </div>


                            <div class="form-group-lg">
                                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" value="1">
                                Tôi đã đọc và đồng ý <a href="#" style="color:dodgerblue">Điều khoản và sử dụng và Chính sách bảo mật</a>.
                            </div>


                            <div class="clearfix">
                                <button type="submit" class="btn btn-block btn-danger"><strong>Đăng ký</strong></button>

                            </div>

                        </div>
                    @*</div>*@

                </div>
            </div>
        </div>
    </div>
}
