
@using testing.Models
@using PagedList.Mvc;

@model PagedList.PagedList<testing.Models.Food>
@{
    ViewBag.Title = "MonAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper Truncate(string input,int length)
{ 
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0,length) <text>...</text>
    }
}

<h2>Quản lý món ăn</h2>
<p>
    @Html.ActionLink("Thêm món mới", "CreateNew")
</p>
<table class="table" border="1">
    <tr>
        <th>
            <label>Loại món</label>
        </th>
        <th>
            <label>Tên món</label>
        </th>
        <th>
            <label>Hình ảnh</label>
        </th>
        <th>
            <label>Mô tả</label>
        </th>
        <th>
            <label>Giá món</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
               <img  src="@Url.Content("~/images/"+ item.Fimage)" height="100" width="100" />
            </td>
            <td>
                @Truncate(item.FDescribe,100)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FStatus)
                </td>*@
            <td>
                @string.Format("{0:0,0}", item.FPrice) VNĐ
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditFood", new { id = item.FoodID }) |
                @Html.ActionLink("Chi tiết", "DetailsFood", new { id = item.FoodID }) |
                @Html.ActionLink("Xóa", "DeleteF", new { id = item.FoodID })
            </td>
        </tr>
    }
</table>


Trang @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("MonAn", new {page =page }))
</div>

<style>
    .MenuTrang li{
        display:inline;
    }
</style>
